@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    --tw-bg-opacity: 1;
    /* for bg-stone-900 */
    background-color: rgba(28, 25, 23, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    /* text-white */
}